.banner {
  position: relative;
  padding: 0;

  img {
    opacity: 100%;
    width: 100%;
  }

  .centered {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);

    h1 {
      -webkit-animation: tracking-in-expand-fwd 0.8s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;

      @-webkit-keyframes tracking-in-expand-fwd {
        0% {
          letter-spacing: -0.5em;
          -webkit-transform: translateZ(-700px);
          transform: translateZ(-700px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          opacity: 1;
        }
      }
      @keyframes tracking-in-expand-fwd {
        0% {
          letter-spacing: -0.5em;
          -webkit-transform: translateZ(-700px);
          transform: translateZ(-700px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          opacity: 1;
        }
      }
    }
  }
}

.about-me {
  img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

    @media screen and (max-width: 768px) {
      width: 50%;
    }
  }

  p {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;

    @media screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 20px;
      padding: 8%;
    }
  }
}

.card {
  width: 300px;
  height: auto;
  margin: 0 5% 5% 5%;
  padding: 1%;
  background-color: $thirdBgColor;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  img {
    padding: 5%;
  }

  p {
    font-size: 14px;
    padding: 5%;
  }
}

.btn-card {
  @include btn-card;
}

.carrousel {
  padding-bottom: 5%;
}
